<h1>WorldCities</h1>
<p>
  A sample web application to demonstrate
  how to interact with ASP.NET, Angular,
  Entity Framework Core and a SQL Database.
</p>

<div class="form-group row">
  <div class="col-4">
    <table class="table table-bordered table-striped">
      <tr class="custom-header">
        <th>Seed Email</th>
        <th>Seed Password</th>
      </tr>
      <tbody>
        <td>admin@gmail.com</td>
        <td>@Open1234</td>
      </tbody>
    </table>
  </div>
  <div class="col-8">
    <img src="/assets/img/home.jpg" alt="WorldCities" style="width: 500px; height: 450px;"
         class="home-cover" />
  </div>
</div>
